<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Đổi mật khẩu</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Quản lý thành viên</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/user/borrowing-device}">Thiết bị đang mượn</b></a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/user/usage-information}">Lịch sử đặt chỗ thiết bi</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/user/violations}">Trạng thái vi phạm</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <!--                                <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Xin chào, <span th:text="${name}"></span></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{/user/change-password}">Đổi mật khẩu</a>
                                <div class="dropdown-divider"></div>
                                <form method="post" th:action="@{/logout}">
                                    <button class="dropdown-item" type="submit">Đăng xuất</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center" style="margin-top: 30px">
                <div class="col-md-8 col-lg-6">
                    <h4 class="card-title" style="display: flex; justify-content: center; margin-bottom: 25px; margin-top: 10px">Đổi mật khẩu</h4>
                    <form method="POST" th:action="@{/user/change-password/save}" th:object="${changePasswordDto}">
                                <div class="mb-3">
                                    <label class="w-100">
                                        <input type="password" th:field="*{oldPassword}" placeholder="Mật khẩu cũ" required class="form-control">
                                    </label>
                                </div>
                                <div class="mb-3">
                                    <label class="w-100">
                                        <input type="password" th:field="*{newPassword}" placeholder="Mật khẩu mới" required class="form-control" id="password">
                                    </label>
                                </div>
                                <div class="mb-3">
                                    <label class="w-100">
                                        <input type="password" name="confirmPassword" placeholder="Nhập lại mật khẩu mới" required class="form-control" id="confirmPassword">
                                    </label>
                                </div>
                                <script>
                                    const password = document.getElementById("password");
                                    const confirm_password = document.getElementById("confirmPassword");

                                    function validatePassword(){
                                        if(password.value !== confirm_password.value) {
                                            confirm_password.setCustomValidity("Mật khẩu nhập lại không khớp");
                                        } else {
                                            confirm_password.setCustomValidity('');
                                        }
                                    }
                                    password.onchange = validatePassword;
                                    confirm_password.onkeyup = validatePassword;
                                </script>
                                <div th:if="${errorMessage}">
                                    <p class="alert alert-danger" th:text="${errorMessage}"></p>
                                </div>
                                <div th:if="${successMessage}">
                                    <p class="alert alert-info" th:text="${successMessage}"></p>
                                </div>
                                <button type="submit" class="btn btn-success w-100">Đổi mật khẩu</button>
                            </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', event => {

        // Toggle the side navigation
        const sidebarToggle = document.body.querySelector('#sidebarToggle');
        if (sidebarToggle) {
            sidebarToggle.addEventListener('click', event => {
                event.preventDefault();
                document.body.classList.toggle('sb-sidenav-toggled');
                localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
            });
        }

    });
</script>
</body>
</html>
